.bg-blur {
  position: fixed;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
  opacity: 0.5;
}

.bg-1 {
  background: #e5cdb5;
  top: -100px;
  left: -120px;
}

.bg-2 {
  background: #c7a789;
  bottom: -120px;
  right: -100px;
}
